* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #03624c;
    --primary-black:  rgb(2, 27, 26);
    --secondary-black: #032221;
    --primary-ligth: #00df81;
    --primary-hover: #2cc295;
    --text-primary: #f1f7f6;
    --text-mute: #707d7d;    
}

body {
    font-family: "Cascadia Code", sans-serif;
    font-style: normal;
    background-color: var(--secondary-black);
    color: var(--text-primary);
    min-height: 100dvh;
    line-height: 1.6;
}

h1 { font-size: 2.5rem; line-height: 1.1; }
h2 { font-size: 1.5rem; margin-top: 30px; }
h3 { font-size: 1.25rem; }
p { font-size: 1rem; }

a { text-decoration: none; color: inherit; }
li { list-style: none; }
hr {
    margin-top: 30px;
    border: none;
    border-top: 1px solid var(--primary-hover);
}

.btn {
    display: flex;
    align-items: center;
    padding: 2px;
    background-color: var(--primary-black);
    color: var(--primary-ligth);
    border: 1px solid var(--primary-ligth);
    border-radius: 10px;
    cursor: pointer;
    transition: .3s ease;

    &:hover {
        background-color: var(--primary-ligth);
        color: var(--primary-black);
    }
}

.width-container {
    max-width: 768px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.flex-container {
    display: flex;
    margin-top: 8px;
    gap: 20px;

    p {
        color: var(--text-mute);
    }
}

.btn-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    gap: 5px;
}

.btn-mail {
    span {
        display: none;
    }
}

.icon svg{
    width: 50px;
    height: 50px;
    background-color: var(--primary-black);
    color: var(--primary-ligth);
    border-radius: 50%;
    padding: 8px;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 60px;
    gap: 30px;

    .profile-container {
        width: 250px;
        height: 250px;

        img {
            max-width: 250px;
            min-width: 150px;
            object-fit: cover;
            object-position: center;
            border-radius: 50%;
        }
    }

    p {
        padding-left: 3px;
        line-height: 1;
    }
}

.technologies > div > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px 0;
    width: 200px;
    background-color: var(--primary-black);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    
    svg {
        background-color: var(--secondary-black);
        color: var(--primary-ligth);
        width: 40px;
        height: 40px;
        padding: 2px;
        border-radius: 10px;
    }

    li {
        color: var(--text-mute);
        transition: .3s ease;

        &:hover {
            color: var(--primary-ligth);
        }
    }
}

.projects {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .img-container {
        display: block;
        max-width: 330px;
        max-height: 200px;
        margin: 10px 0 5px;
        cursor: pointer;

        img {
            display: block;
            object-fit: contain;
            width: 100%;
            height: auto;
            border-radius: 10px;
            box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5);
            transition: box-shadow .3s ease;

            &:hover {
                box-shadow: 1px 1px 8px var(--primary-ligth);
            }
        }
    }
}

footer {
    h1{
        margin-top: 30px;
    }

    .btn {
        margin-bottom: 60px;
    }
}


@media (min-width: 384px) {
    .hero {
        p {
            font-size: 1.1rem;
        }
    }

    .btn-mail {
        padding: 2px 5px;
        background-color: var(--primary-ligth);
        color: var(--primary-black);
        border: solid 1px var(--secondary-black);
        transition: .3s ease;

        span {
            display: flex;
            padding-right: 5px;
            font-weight: bold;
        }

        &:hover {
            background-color: var(--primary-black);
            color: var(--primary-ligth);
            border: solid 1px var(--primary-ligth);
        }
    }    
}

@media (min-width: 768px) {
    h1 {font-size: 3rem;}
    h2 {font-size: 1.75rem;}

    .width-container {
        max-width: 1000px;
    }

    .hero {
        justify-content: start;   
    }

}
